* {padding:0;margin:0;outline: none;}
a{text-decoration:none; outline:none; color:#3399ff; cursor: pointer;}
a:hover{text-decoration: none;}
img, button{border:0}
ul{list-style:none}
table{border-collapse:collapse;border-spacing:0}
label {cursor:pointer}
td {vertical-align:top}
.fl { float:left}
.fr { float:right}
.c {text-align: center;}
.ma {margin:0 auto}
.pr {position:relative}
.hide {display:none}
.must-hide{display: none !important }
.invisible{visibility: hidden;}
.hidden {display:none;}
.no-select {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none; user-select: none;}
.cap {text-transform: capitalize;}
.fc::first-letter{text-transform: capitalize}
.clear:after {
  content: "";
  display: table;
  clear: both;
}
html {
	height:100%;
	overflow-y:scroll;
	font-size: 62.5%;
}
body {
	font-family: 'Roboto', sans-serif;
	/*have to use em instead of rem because the bug in chrome
	when first time load in chrome browser the font got muc bigger than usual
	before of %font in html and rem font in body refer issue 319623 on chromium google code*/
	/*or try some thing like body > * */
	height: 100%;
	color: #333;

}
body > * {
	font-size: 1.4rem;
}
a, div, span, label, select, i, li, ul, form, input, h1, h2, h3, h4, h5, h6, p, textarea, sup, fieldset, header{box-sizing: border-box;}
h1, h2, h3, h4, h5, h6 {font-weight: 400;}
input, select, textarea {
	font-family: 'Roboto', sans-serif;
}


/*load awesome*/

/*<div class="la-ball-pulse">
	<div></div>
	<div></div>
	<div></div>
</div>*/
/*.loader {
	top: 20%;
	position: absolute;
	right: 0;
	left: 0;
	width: 130px;
	margin: auto;
	height: 20px;
	line-height: 20px;
	padding-bottom: 20px;
}
.loader span {
	font-size: 1.8rem;
	font-weight: 300;
	display: inline-block;
	vertical-align: middle;
}*/
/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-pulse,
.la-ball-pulse > div {
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.la-ball-pulse {
	display: inline-block;
	font-size: 0;
	color: #3399ff;
}
.la-ball-pulse.la-dark {
	color: #333;
}
.la-ball-pulse > div {
	display: inline-block;
	float: none;
	background-color: currentColor;
	border: 0 solid currentColor;
}
.la-ball-pulse {
	width: 54px;
	height: 18px;
	vertical-align: middle;
}
.la-ball-pulse > div:nth-child(1) {
	-webkit-animation-delay: -200ms;
	   -moz-animation-delay: -200ms;
		 -o-animation-delay: -200ms;
			animation-delay: -200ms;
}
.la-ball-pulse > div:nth-child(2) {
	-webkit-animation-delay: -100ms;
	   -moz-animation-delay: -100ms;
		 -o-animation-delay: -100ms;
			animation-delay: -100ms;
}
.la-ball-pulse > div:nth-child(3) {
	-webkit-animation-delay: 0ms;
	   -moz-animation-delay: 0ms;
		 -o-animation-delay: 0ms;
			animation-delay: 0ms;
}
.la-ball-pulse > div {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 100%;
	-webkit-animation: ball-pulse 1s ease infinite;
	   -moz-animation: ball-pulse 1s ease infinite;
		 -o-animation: ball-pulse 1s ease infinite;
			animation: ball-pulse 1s ease infinite;
}
.la-ball-pulse.la-sm {
	width: 26px;
	height: 8px;
}
.la-ball-pulse.la-sm > div {
	width: 4px;
	height: 4px;
	margin: 2px;
}
.la-ball-pulse.la-2x {
	width: 108px;
	height: 36px;
}
.la-ball-pulse.la-2x > div {
	width: 20px;
	height: 20px;
	margin: 8px;
}
.la-ball-pulse.la-3x {
	width: 162px;
	height: 54px;
}
.la-ball-pulse.la-3x > div {
	width: 30px;
	height: 30px;
	margin: 12px;
}
/*
 * Animation
 */
@-webkit-keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
				transform: scale(1);
	}
	30% {
		opacity: .1;
		-webkit-transform: scale(.01);
				transform: scale(.01);
	}
}
@-moz-keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-moz-transform: scale(1);
			 transform: scale(1);
	}
	30% {
		opacity: .1;
		-moz-transform: scale(.01);
			 transform: scale(.01);
	}
}
@-o-keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-o-transform: scale(1);
		   transform: scale(1);
	}
	30% {
		opacity: .1;
		-o-transform: scale(.01);
		   transform: scale(.01);
	}
}
@keyframes ball-pulse {
	0%,
	60%,
	100% {
		opacity: 1;
		-webkit-transform: scale(1);
		   -moz-transform: scale(1);
			 -o-transform: scale(1);
				transform: scale(1);
	}
	30% {
		opacity: .1;
		-webkit-transform: scale(.01);
		   -moz-transform: scale(.01);
			 -o-transform: scale(.01);
				transform: scale(.01);
	}
}
